body {
    margin: 0;
    font-family: Arial, sans-serif; /* Ви можете замінити Arial на інший шрифт */
}
.wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
}
.alogo{
    width: 80px;
    height: 80px;
    float: left;
    padding-left: 10px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 15px;
}
li{
    margin: 10px;
    float: right;
}
li a{
    display: inline-block;
    padding: 10px;
    background: purple;
    text-decoration: none;
    color: white;
}
header{
    height: 100px;
}