div {
    background-color: rgb(255, 165, 0);
    width: 500px;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}

ul {
    list-style-type: none; /* Вимкнути вбудований маркер списку */
    list-style-position: inside;
}

ul > li {
    background-color: rgb(103, 158, 128);
    padding-right: 20px;
    padding-left: 50px;
    background-image: url("../icons_lab4/rule.svg") ;/* Шлях до зображення маркера */
    background-position: left top; /* Положення маркера */
    background-size: 45px;
    background-repeat: no-repeat; /* Вимкнути повторення маркера */
}

ul > li > ul {
    margin: 0;
}

ul > li > ul > li {
    font-size: 18px;
    font-style: italic;
    background-color: rgb(153, 180, 102);
    margin-bottom: 10px;
    padding-left: 40px;
}

span {
    padding: 10px 20px;
    display: inline-block;
}

ul > li > span {
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(199, 124, 106);
    margin-bottom: 10px;
}

ul > li > ul > li > span {
    background-color: rgb(218, 106, 32);
    margin-bottom: 0px;
}

.route{
    background-image: url("../icons_lab4/ad_units.svg") ;/* Шлях до зображення маркера */
    background-position: left center; /* Положення маркера */
    background-repeat: no-repeat; /* Вимкнути повторення маркера */
    background-size: 42px;
}
.ticket{
    background-image: url("../icons_lab4/airplane_ticket.png") ;/* Шлях до зображення маркера */
    background-position: left center; /* Положення маркера */
    background-repeat: no-repeat; /* Вимкнути повторення маркера */
    background-size: 39px;
}
.hotel{
    background-size: 39px;
    background-image: url("../icons_lab4/hotel.svg") ;/* Шлях до зображення маркера */
    background-position: left center; /* Положення маркера */
    background-repeat: no-repeat; /* Вимкнути повторення маркера */
}
.rentCar{
    background-size: 39px;
    background-image: url("../icons_lab4/car_rental.png") ;/* Шлях до зображення маркера */
    background-position: left center; /* Положення маркера */
    background-repeat: no-repeat; /* Вимкнути повторення маркера */
}
.bar{
    background-image: url("../icons_lab4/local_bar.png") ;/* Шлях до зображення маркера */
    background-position: left center; /* Положення маркера */
    background-size: 40px;
    background-repeat: no-repeat; /* Вимкнути повторення маркера */
}
.casino{
    background-image: url("../icons_lab4/casino.png") ;/* Шлях до зображення маркера */
    background-position: left center; /* Положення маркера */
    background-size: 40px;
    background-repeat: no-repeat; /* Вимкнути повторення маркера */
}
.museum{
    background-size: 40px;
    background-image: url("../icons_lab4/museum.png") ;/* Шлях до зображення маркера */
    background-position: left center; /* Положення маркера */
    background-repeat: no-repeat; /* Вимкнути повторення маркера */
}
.fest{
    background-size: 40px;
    background-image: url("../icons_lab4/festival.png") ;/* Шлях до зображення маркера */
    background-position: left center; /* Положення маркера */
    background-repeat: no-repeat; /* Вимкнути повторення маркера */
}
