p.text-background > span{
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

div>.text-background>span{
    background-color: yellow;
}
span > span{
    background-color: gray;
    text-decoration: line-through;
}
ol >li >span > span {
    font-size: 18px;
    text-transform: uppercase;
}
section>p{
    text-shadow: 3px 5px 5px yellow;
    text-indent: 50px;
}
li > ul {
    list-style-image: url("li.svg");
}
div > p.text-background {
    word-spacing: 50px;
}
div.bold > p{
    font-weight: bold;
}
div.bold > section > p{
    line-height: 45px;
}
img + p{
    background-color:  brown;
}

section ~ p{
    color: red;
}